<%= form_for(@battle) do |f| %>
  <% if @battle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@battle.errors.count, "error") %> prohibited this battle from being saved:</h2>

      <ul>
      <% @battle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= f.text_field :link, class:"form-control", placeholder:'link de youtube' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= f.text_area :content, class:"form-control", rows:'5', placeholder:'Introduce las palabras separadas por comas' %>
    </div>
  </div>
  <div class="actions col-md-6 col-md-offset-3">
    <%= f.submit 'Crear Batalla', :class => 'btn btn-info btn-block'%>
  </div>
<% end %>
