
<p id="notice"><%= notice %></p>
 

  <div class="col-md-6">
  	<iframe width="100%" height="400" src=<%= @battle.link %> frameborder="30" allowfullscreen></iframe>
  </div>
  <div class="col-md-6">
 	<h1 id="word">tu palabra</h1>
            
 	 <div id="change-text" class="button"><span>Change Text</span></div>
 	 <div id="bonus" class="button"><span><i class="glyphicon glyphicon-star"></i> Bonnus <i class="glyphicon glyphicon-star"></i></span></div>
 	<h2 id="counter" class='col-md-2'>0</h2>

 </div>
  
  




<div class="col-md-12">
<p>
  <strong>Content:</strong>
  <p id="content"><%= @battle.content %></p>
</p>

<%= link_to 'Edit', edit_battle_path(@battle) %> |
<%= link_to 'Back', battles_path %>
</div>
<script>
	
</script>




<script>



				var split = document.getElementById('content').innerHTML.split(',');

				
				var nvalue = 0;
				var score = 0;
				$("#change-text").on("click", function() {

						document.getElementById('counter').innerHTML = score++;
						
						var word = split[nvalue++];
						document.getElementById('word').innerHTML = word;
						
				});



</script>
